.header {
    background-color: #ff0000;
    color: #ffffff;
}

.navigation {
    background-color: #ffff00;
}

.content {
    background-color: #00ff00;

}

.footer {
    background-color: #0000ff;
    color: #ffffff;
}